.calendar-toolbar {
  margin-bottom: 10px;
}
.calendar-month-row {
  height: 75px;
}
.calendar-prior-months-date {
  color: #ddd;
}
.calendar-current-date {
  text-align: center;
  display: inline-block;
  width: 115px;
}
